/*////////////////////////////////////////////////////////////////////////////////
// App.css
// Styling for App.css
////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////
// Imports
////////////////////////////////////////////////////////////////////////////////*/

.Adjust {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App {
  min-height: 100vh;
  flex-direction: column;
}

.Centre {
  width: 50vw;
}

.Title {
  width: 230px;
}

.Row {
  flex-direction: row;
  margin-bottom: 15px;
}

/*////////////////////////////////////////////////////////////////////////////////
// Media
////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 800px) { 
  .Centre {
    width: 85vw;
  }
}
