/*////////////////////////////////////////////////////////////////////////////////
// App.css
// Styling for App.css
////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////
// Imports
////////////////////////////////////////////////////////////////////////////////*/

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Centre {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
}

/*////////////////////////////////////////////////////////////////////////////////
// Media
////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 800px) { 
  .Centre {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 85vw;
  }
}
